branches:
  - main
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@google/semantic-release-replace-plugin"
    - replacements:
        - files:
            - "manifest.json"
          from: "\"version\": \".*\""
          to: "\"version\": \"${nextRelease.version}\""
  - - "@semantic-release/exec"
    - prepareCmd: 'npm run package'
  - - "@semantic-release/git"
    - assets:
      - "manifest.json"
  - - "@semantic-release/github"
    - assets:
      - path: "dist/chrome-meet-webhook-extension.zip"
        label: "chrome-meet-webhook-extension.zip"
options:
  debug: true